.app-root {
  // width: 100%;
  max-width: 992px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.user-title {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.app-search {
  width: 100%
}


.container {
  width: 100%
}