<app-header>
  <div class="user-title">Harry Potter</div>
  <app-button title="LOGOUT"></app-button>
</app-header>
<div class="app-root">
  <!-- Search component -->
  <!-- <app-search class="container"></app-search> -->

  <!-- Info component -->
  <!-- <app-info title="Your List Is Empty" [text]="'Please use \'' + infoButtonTitle + '\' button to add your first course'">
    <app-button [title]="infoButtonTitle"></app-button>
  </app-info> -->

  <!-- Course Card component -->
  <!-- <app-courses [data]="data" [editable]="true" (onDelete)="handleOnDelete()" (onEdit)="handleOnEdit()"></app-courses> -->
  
  <!-- Login Form component -->
  <!-- <app-login-form></app-login-form> -->

  <!-- Registration Form component -->
  <!-- <app-registration-form></app-registration-form> -->

  <!-- App course component -->
  <app-course-form></app-course-form>

  <!-- Modal component -->
  <!-- <app-modal [message]="'Message'" [title]="'Title'" [okButtonText]="'Ok'" [cancelButtonText]="'Cancel'"></app-modal> -->
</div>
