<section class="bg-gray-50">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl text-center">
          Sign up
        </h1>
        
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Name</label>
            <input
              formControlName="name"
              type="text"
              name="name"
              id="name"
              class="rounded-lg block w-full p-2.5"
              [ngClass]="isFieldInvalid('name') ? inputInvalidStyle : inputValidStyle"
              placeholder="Name"
            >
            <p
              [ngClass]="isFieldRequired('name') ? 'visible' : 'invisible'"
              class="mt-2 text-sm text-red-600 dark:text-red-500"
            >
              Name is required
            </p>
          </div>
          
          <div class="mb-3">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Email</label>
            <input
              formControlName="email"
              type="email"
              name="email"
              id="email"
              class="rounded-lg block w-full p-2.5"
              [ngClass]="isFieldInvalid('email') ? inputInvalidStyle : inputValidStyle"
              placeholder="name@mail.com"
            >
            <div class="[&>*:not(:first-child)]:hidden" [ngClass]="isFieldInvalid('email') ? 'visible' : 'invisible'">
              <div *ngIf="isFieldRequired('email')" class="mt-2 text-sm text-red-600 dark:text-red-500">
                Field is required.
              </div>
              <div *ngIf="isValidEmail" class="mt-2 text-sm text-red-600 dark:text-red-500">
                Incorrect email
              </div>
            </div>
          </div>
          
          <div class="mb-8">
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Password</label>
            <input
              formControlName="password"
              type="password"
              name="password"
              id="password"
              placeholder="••••••••"
              class="rounded-lg block w-full p-2.5"
              [ngClass]="isFieldInvalid('password') ? inputInvalidStyle : inputValidStyle"
            >
            <p
              [ngClass]="isFieldRequired('password') ? 'visible' : 'invisible'"
              class="mt-2 text-sm text-red-600 dark:text-red-500"
            >
              Password is required
            </p>
          </div>

          <button
            type="submit"
            class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center mb-5"
          >
            Sign up
          </button>
          
          <p class="text-sm text-center">
            If you don't have an account you may
          </p>
          <div class="flex justify-center">
            <a routerLink="/login">Login</a>
          </div>
        </form>        
      </div>
    </div>
  </div>
</section>
